{% extends 'blog/base.html'%}  {% block content %}

<div class='content-section'>
    <form method='Post'>
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class='border-bottom mb-4'>DELETE POST</legend>
            <h2>ARE YOU SURE YOU WANT TO DELETE YOUR POST?</h2>
            <h3>"{{ object.title }}"</h3>
        </fieldset>
        <div class='form-group'>
            <button class="btn btn-outline-danger" type="submit">YES, DELETE</button>
            <a class="btn btn-outline-secondary" href="{% url 'post-detail' object.id %}">CANCEL</a>
        </div>
    </form>
</div>

{% endblock content %}